#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    max-width: 300px;
    margin: 10px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendar-date {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}
